/**
 * Custom styles for mpiannucci.com
 */

/**
 * Need to set padding for the body so content flows beneath the navbar
 */
body {
    padding-top: 70px;
}

/**
 * Custom navbar theming
 */
.navbar {
  background-color: #47A3FF; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  border: #47A3FF;
  filter: none;
}

.navbar .navbar-brand {
    color: #FFFFFF;
}

.navbar .navbar-brand:hover {
    color: #000000;
}

.navbar .nav > li > a {
    color: #FFFFFF;
}

.navbar .nav > li > a:hover {
    color: #000000;
}

.navbar .nav > li > a:active {
    color: #000000;
}

/**
 * Home Page styles
 */
#homeImage {
    width: 100%;
}

/**
 * Blog Page styles
 */


/**
 * Projects Page styles
 */
.AppsPageScreenshot {
    width: 13%;
    float: left; 
    margin: 0px 0px 25px 25px;
}

/**
 * About page styles
 */
#bioPic {
    width: 100%;
}

/**
 * Footer styles
 */
#footerRow {
    padding-top: 15px;
    font-size: 80%;
}

/**
 * Hackwinds Landing Page Styles
 */
.hackwinds_landing_screenshots {
    width: 70%
}

#featuresHeader {
    padding-bottom: 20px;
}

.hackwinds-jumbotron {
    background-image: url("../Images/hackwinds_jumbo.jpg");
    background-size: cover;
    color: #FFFFFF
}

#googlePlayBadge {
    width: 135px;
    height: 40px;
    margin-top: -33px;
}