/**
 * Custom styles for mpiannucci.com
 */

/**
 * Need to set padding for the body so content flows beneath the navbar
 */
body {
    padding-top: 50px;
}

/**
 * Custom navbar theming
 */
.navbar {
  background-color: #47A3FF; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  border: #47A3FF;
  filter: none;
  padding-bottom: 0;
}

.navbar .navbar-brand {
    color: #FFFFFF;
}

.navbar .navbar-brand:hover {
    color: #000000;
}

.navbar .nav > li > a {
    color: #FFFFFF;
}

.navbar .nav > li > a:hover {
    color: #000000;
}

.navbar .nav > li > a:active {
    color: #000000;
}

/**
 * Home Page styles
 */
.jumbotron-index {
    background-image: url("../Images/stillsurf_bw.jpg");
    background-size: cover;
    color: #FFFFFF;
    margin-bottom: 0;
}

.welcomeMessage {
    padding-bottom: 3%;
}

.bio-buttons {
    float: left;
    margin: 5px;
}

/**
 * Blog Page styles
 */


/**
 * Projects Page styles
 */
.AppsPageScreenshot {
    width: 14%;
    float: left; 
    margin: 0px 0px 25px 25px;
    padding-right: 15px
}

.mapgetter-jumbotron {
    background-image: url("http://mapgetter.mpiannucci.com/static/Assets/map_header2.jpg");
    background-size: cover;
    color: #FFFFFF;
    margin-bottom: 0;
}

.github-jumbotron {
    margin-bottom: 0;
}

.project-header {
    margin-bottom: 0;
}

/**
 * About page styles
 */
#bioPic {
    width: 100%;
}

#bioPhoto {
    padding: 0;
}
/**
 * Footer styles
 */
#footerRow {
    padding-top: 15px;
    font-size: 80%;
}

/**
 * Hackwinds Landing Page Styles
 */
.hackwinds_landing_screenshots {
    width: 70%
}

#featuresHeader {
    padding-bottom: 20px;
}

.hackwinds-jumbotron {
    background-image: url("../Images/hackwinds_jumbo.jpg");
    background-size: cover;
    color: #FFFFFF;
    margin-bottom: 0;
}

.hackwinds-landing {
    margin-bottom:20px;
}

#googlePlayBadge {
    width: 135px;
    height: 40px;
    margin-top: -33px;
}

.AppJumboIcon {
    padding-right: 15px;
    padding-top: 15px;
}

.hackwinds-github-button {
    margin-bottom: 5px;
}

/**
 * Admin Page Styles
 */
.postlist {
    padding-bottom: 10px;
}

.postlist p {
    font-size: 20px;
}
