<div id="aboutContainer">
	<div id="aboutHeader">
		<h1>Bio</h1>
	</div>
	<hr>
	<div id="education">
		<h2>Education</h2>
		<p>I am currenty a sernior undergraduate student at the University of Rhode Island College of Engineering (Class of 2014). Ocean engineering encompasses a diverse spectrum of topics ranging from robotics to renewable engery. My personal studies are focused toward robotics and acoustics. This is a unique program which offers a rare insight into untypical industries.</p>
	</div>
	<div id="background">
		<h2>Background</h2> 
		<p>Born and raised in Narragansett, Rhode Island, the sea has always been a part of my life. Years of learning have developed me into a talented surfer. Althogh surfing has given a respet and love for the sea, my passion for computers and electronics has emerged, leaeding me towards my senior year in Ocean Engineering.</p>
	</div>
	<div id="future">
		<h2>Future</h2> 
		<p>Upon graduating from the University of Rhode Island, I hope to enter the engineering workforce. There I can bring my skills to help advance ocean technologies and systems. </p>
	</div>
</div>
