<div id="projectContainer">
	<div id="projectTitle">
		<h1>Apps</h1>
	</div>
	<hr>
	<div id="project1">
		<h2 id="simpleSolverTitle">SimpleSolver</h2>
		<p>As an engineering student, it has frustrated me that were no quadratic equation solving applications with an elegant user interface. I strived to create a simple, but useful app with a user interface that matched these characteristics. Thus, SimpleSolver for Android was born. This application is now available on Google Play for free.</p>
		<center>
			<!-- This is the app screenshots -->
			<img class="screenshots" id="SSscreen2" src="/static/Images/SSscreen2.png" alt="SSscreen2" />
			<img class="screenshots" id="SSscreen1" src="/static/Images/SSscreen1.png" alt="SSscreen1" />
			<br/>
			<!-- This is the Google Play button -->
			<a href="https://play.google.com/store/apps/details?id=com.nucc.simplesolver">
				<img id="googlePlayBadge" alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
			</a>
  		</center>
	</div>
	<div id="project2">
		<h2>hackWinds</h2>
		<p>Viewing the surf camera for Narragansett, RI has always proved to be tedious on a phone. Especially because there is specific mobile layout or application. So, in the name of simplicity I decided to hack together a small Android app that simply shows the surf camera images with no frills. Recently, I have added a second feature, wheer the user can see the predicted conditions for the current day and the two next days.</p>
		<center>
			<!-- This is the app screenshots -->
			<img class="screenshots" id="HWscreen1" src="/static/Images/HWscreen1.png" alt="HWscreen1" />
			<img class="screenshots" id="HWscreen2" src="/static/Images/HWscreen2.png" alt="HWscreen2" />
			<br/>
			<h3 class="links"><a href="/static/Misc/hackWinds.apk">Download Here</a> | <a href="https://github.com/rhodysurf/hackWinds">Source Here</a></h3>
	</div>
	<div id="project3">
		<h2>Other</h2>
		<p>To view many of my smaller projects and meddlings of mine, feel free to browse my projects on Github.</p>
		<center>
			<h3 class="links"><a href="/github">View My Github Here</a></h3>
		</center>
	</div>
</div>