<div id="HackWindsCols" class="col-lg-12 jumbotron hackwinds-jumbotron">
    <div class="container">
        <img class="AppsPageScreenshot pull-left" src="/static/Images/Hackwinds-ios1.png" />
        <h1>HackWinds</h1>
        <p>The easiest way to check the surf in Rhode Island</p>
        <a href="/hackwinds" class="btn btn-primary">Learn More</a>
    </div>
</div>
<div id="MapgetterCols" class="col-lg-12 jumbotron mapgetter-jumbotron">
    <div class="container">
        <h1>MapGetter</h1>
        <p>Get static images of a central area with coordinates in meters</p>
        <a href="http://mapgetter.mpiannucci.com" class="btn btn-primary">Try It!</a>
    </div>
</div>
<div id="OtherCols" class="col-lg-12 jumbotron github-jumbotron">
    <div class="container">
        <h2>Other</h2>
        <p>To view many of my smaller projects and medlings of mine, feel free to browse my projects on Github.</p>
        <a class="btn btn-primary" href="/github">View My Github Here</a>
    </div>
</div>
