<div id="projectContainer">
	<div id="projectTitle">
		<h1>Apps</h1>
	</div>
	<hr>
	<div id="project1">
		<h2 id="simpleSolverTitle">SimpleSolver</h2>
		<p>As an engineering student, it has frustrated me that were no quadratic equation solving applications with an elegant user interface. I strived to create a simple, but useful app with a user interface that matched these characteristics. Thus, SimpleSolver for Android was born. This application is now available on Google Play for free.</p>
		<center>
			<!-- This is the app screenshots -->
			<img class="screenshots" id="SSscreen1" src="https://lh6.ggpht.com/R-mlmTg_XKIXPeBiJH716pG86d2eMjO1cCpktyAhlJ4Ztw8vL6BLcUL7hiHzOwDFyD4=h310-rw" alt="SSscreen1" />
			<img class="screenshots" id="SSscreen2" src="https://lh5.ggpht.com/422DvuAXjSvywe9HUUD-6wGEkBpE0m8MBrVhCDAJ2CG6wvrxhHP9iNePZGlQEWKCqw=h310-rw" alt="SSscreen2" />
			<br/>
			<!-- This is the Google Play button -->
			<a href="https://play.google.com/store/apps/details?id=com.nucc.simplesolver">
				<img id="googlePlayBadge" alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
			</a>
  		</center>
	</div>
	<div id="project2">
		<h2>hackWinds</h2>
		<p>Viewing the surf camera for Narragansett, RI has always proved to be tediuos on a phone. Especially because there is specific mobile layout or application. So, in the name of simplicity I decided to hack together a small Android app that simply shows the surf camera images with no frills.</p>
	</div>
	<div id="project3">
		<h2>Other</h2>
		<p>To view many of my smaller projects and meddlings of mine, feel free to fork me or add me on github.</p>
		<center>
			<!-- This is the github button -->
			<iframe src="http://ghbtns.com/github-btn.html?user=rhodysurf&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
		</center>
	</div>
</div>