$def with (page)

<html>
<head>
    <meta name="google-site-verification" content="-azLgyDbTQ6EY0zdkcRBc8Q5f0jSV4cd552gcq44N98" />
    <title>Matthew Iannucci</title>
    <link rel="stylesheet" type="text/css" href="/static/Styles/mobile.css" media="only screen and (max-device-width: 767px)" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/screen.css" media="only screen and (min-device-width: 768px)" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
</head>
<body> 
	<div id="mainHeader">
	<!-- Define the header for the page -->
	<div id="header">
		<h1><a href="/">Matthew Iannucci</a></h1>
	</div>
	<!-- Define the header bar links -->
	<div id="navBar">
		<table id="navBarTable">
			<tr>
				<td class="navHeader"><h2><a href="/">Home</a></h2></td>
				<td class="navHeader"><h2><a href="/blog">Blog</a></h2></td>
				<td class="navHeader"><h2><a href="/apps">Projects</a></h2></td>
				<td class="navHeader"><h2><a href="/bio">About</a></h2></td>
				<td class="topicHeader"><h2><a href="/tag/software">Software</a></h2></td>
				<td class="topicHeader"><h2><a href="/tag/surfing">Surfing</a></h2></td>
				<td class="topicHeader"><h2><a href="/tag/else">Else</a></h2></td>
			</tr>
		</table>
	</div>
	</div>
	<!-- Create the main coloumn layout.-->
	<div id="mainContent" class="mainColumn">
		<!-- Main column start -->
		<!-- Get the page data as declared in code.py -->
		$:page
		<!-- Main column end -->
	</div>
	<!-- Ends the three column layout-->
	<!-- Define the footer for the page -->
	<div id="footer">
		<center>	
			<div id="copyright">
				<h3>Copyright 2013, Matthew Iannucci</h3>
			</div>
			<div id="siteinfo">
				<p>Site created with web.py, version 0.3 <br/>Updated August 2014</p>
			</div>
		</center>
	</div>
</div>
<!-- End the page layout -->
</body>
</html>
