<div id="contactContainer" class="container">
	<h1 id="contactTitle">Bio</h1>
	<hr>
	<div id="contactBody" class="container">
		<div class="row">
			<div id="bioPhoto" class="col-sm-6">
				<img id="bioPic" src="/static/Images/mecomp.jpg" alt="bioPic" />
			</div>
			<div id="bioText" class="col-sm-6">
				<h2>About Me</h2>
				<p>Hello, my name is Matthew Iannucci. I am an Engineer from Rhode Island with a Bachelor's of Science in Ocean Engineering from the University of Rhode Island. I focused on software development and robotics. I currently work as an Engineer at Navatek, Ltd.</p>
				<p>I enjoy surfing and skiing in my free time, as well as working on many different software projects.</p>
				<ul class="list-inline">
  					<li><a href="/resume">Resume</a></li>
  					<li><a href="https://github.com/mpiannucci">Github</a></li>
  					<li><a href="mailto:rhodysurf13@gmail.com">Email</a></li>
  					<li><a href="http://www.linkedin.com/pub/matthew-iannucci/7a/884/64a/">LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>