<div id="contactContainer">
	<div id="contactTitle">
		<h1>Bio</h1>
	</div>
	<hr/>
	<div id="contactBody">
		<div id="bioPhoto">
			<img id="bioPic" src="/static/Images/mecomp.jpg" alt="bioPic" />
		</div>
		<div id="bioText">
			<h2>About Me</h2>
			<p>Hello, my name is Matthew Iannucci. I am an Engineer from Rhode Island with a Bachelor's of Science in Ocean Engineering from the University of Rhode Island. I focused on software development and robotics. I currently work as an Engineer at Navatek, Ltd.</p>
			<p>I enjoy surfing and skiing in my free time, as well as working on many different software projects.</p>
		</div>
		<div id="contactLinks" class="links">
			<h3><a href="/resume">Resume</a></h3>
			<h3><a href="/github">Github</a></h3>
			<h3><a href="mailto:rhodysurf13@gmail.com">Email</a></h3>
			<h3><a href="http://www.linkedin.com/pub/matthew-iannucci/7a/884/64a/">LinkedIn</a></h3>
		</div>
	</div>
</div>