$def with (posts)

<div id="blogContainer">
	<div id="blogTitle">
		<h1>Blog</h1>
	</div>
	<hr>
	<div id="postStream" class="postDisp">
		<!-- Loop thourgh all posts in the database and display them as declared below -->
		$for post in posts:
			<h2>$post.title</h2>
			<h3>$datestr(post.posted_on)</h3>
			<div id="postContent">
				$:post.content
			</div>
			<br/>
			<div id="links" class="links">
				<table class="linkTable">
					<tr>
						<td>
							<a href="/view/$post.id">Link</a>
						</td>
						<td>
							$post.likes &nbsp; <a href="/like/$post.id">Like</a>
						</td>
						<td>
							$post.dislikes &nbsp; <a href="/dislike/$post.id">Dislike</a>
						</td>
					</tr>
				</table>
			</div>
			<hr>
	</div>
</div>
