$def with (pageNum)
$ postCount = 0
$ next = pageNum + 1
$ prev = pageNum - 1
$ posts = get_posts((pageNum-1)*6)

<div id="blogContainer">
  <div id="blogTitle">
    <h1>Blog</h1>
  </div>
  <hr>
  <div id="postStream" class="postDisp">
    <!-- Loop thourgh all posts in the database and display them as declared below -->
    $for post in posts:
      $ postCount+=1
      <h2 class="links"><a href="/view/$post.url">$post.title</a></h2>
      <h3>$datestr(post.date)</h3>
      <div class="links" id="postContent">
        $:post.content
      </div>
      <br/>
      <div id="links" class="links">
        <table class="linkTable">
          <tr>
            <td><a href="/view/$post.url">Comment</a></td>
            <td>Tagged &nbsp; <a href="/tag/$post.tag">$post.tag</a></td>
          </tr>
        </table>
      </div>
      <hr>
  </div>
  <div id="blogLinks" class="links">
    $if pageNum == 1:
      $if postCount < 6:
        <table class="navTable">
          <tr>
            <td>Page $pageNum</td>
            <td><a href="/archive">Archive</a></td>
          </tr>
        </table>
      $else:
        <table class="navTable">
          <tr>
            <td>Page $pageNum</td>
            <td><a href="/blog/$next">Next</a></td>
            <td><a href="/archive">Archive</a></td>
          </tr>
        </table>
    $else:
      $if postCount < 6:
        <table class="navTable">
          <tr>
            <td><a href="/blog/$prev">Previous</a></td>
            <td>Page $pageNum</td>
            <td><a href="/archive">Archive</a></td>
          </tr>
        </table>
      $else:
        <table class="navTable">
          <tr>
            <td><a href="/blog/$prev">Previous</a></td>
            <td>Page $pageNum</td>
            <td><a href="/blog/$next">Next</a></td>
            <td><a href="/archive">Archive</a></td>
          </tr>
        </table>
  </div>
</div>