<div id="contactContainer">
	<div id="contactTitle">
		<h1>Bio</h1>
	</div>
	<hr/>
	<div id="contactBody">
		<div id="bio">
			<h2>About Me</h2>
			<p>Hello, my name is Matthew Iannucci. I am currently a Senior Ocean Engineering student at the University of Rhode Island. I have a strong background in Computer Engineering. Specifically, my focus in school is in embedded systems and software. I plan to graduate in the Spring of 2014 and move into the workforce as an educated, motivated engineer.</p>
		</div>
		<div id="contactLinks">
			<h3 class="links" ><a href="mailto:rhodysurf13@gmail.com">Email</a></h3>
			<h3 class="links"><a href="https://twitter.com/mattnucc">Twitter</a></h3>
			<h3 class="links"><a href="http://www.linkedin.com/pub/matthew-iannucci/7a/884/64a/">LinkedIn</a></h3>
		</div>
	</div>
	<hr/>
</div>