<!-- Jumbotron Header -->
<header id="hackwinds_header" class="jumbotron hero-spacer hackwinds-jumbotron">
    <h1>HackWinds</h1>
    <p>The easiest way to check the waves in Rhode Island</p>
    <a href="https://itunes.apple.com/us/app/hackwinds/id945847570?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
    <a href="https://play.google.com/store/apps/details?id=com.nucc.hackwinds">
        <img id="googlePlayBadge" alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
    </a>
</header>

<!-- Title -->
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 id="featuresHeader">Features</h1>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img class="hackwinds_landing_screenshots" src="/static/Images/Hackwinds-ios1.png" alt="Live Screenshot">
            <div class="caption">
                <h3>Live Streaming Camera</h3>
                <p>View the HD stream straight from Narragansett Beach wherever you are.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img class="hackwinds_landing_screenshots" src="/static/Images/Hackwinds-ios2.png" alt="Forecast Screenshot">
            <div class="caption">
                <h3>5 Day Forecast</h3>
                <p>Get the latest forecast information for the upcoming 5 days.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img class="hackwinds_landing_screenshots" src="/static/Images/Hackwinds-ios3.png" alt="Buoy Screenshot">
            <div class="caption">
                <h3>Live Buoy Data</h3>
                <p>Get the latest NOAA buoy reports, showing the current swell in the water.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img class="hackwinds_landing_screenshots" src="/static/Images/Hackwinds-ios4.png" alt="Tide Screenshot">
            <div class="caption">
                <h3>Tide Information</h3>
                <p>View the upcoming tides, as well as the sunrise and sunset for the day so you can plan whether to dawn patrol or leave work early.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
