<!-- Jumbotron Header -->
<div class="row">
    <div class="col-lg-12 jumbotron hackwinds-jumbotron hackwinds-landing">
        <img class="AppJumboIcon pull-left" src="https://raw.githubusercontent.com/mpiannucci/HackWinds-iOS/master/HackWinds/Images.xcassets/AppIcon.appiconset/Icon-60@3x.png" />
        <h1>HackWinds</h1>
        <p>The easiest way to check the waves in Rhode Island</p>
        <a href="https://itunes.apple.com/us/app/hackwinds/id945847570?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
        <a href="https://play.google.com/store/apps/details?id=com.nucc.hackwinds">
            <img id="googlePlayBadge" alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
        </a>
    </div>
</div>
<!-- Page Features -->
<div class="row text-center ">
    <div class="col-lg-12 hero-feature">
        <h1>Features</h1>
        <ul class="nav nav-pills center-pills">
            <li class="active"><a data-toggle="tab" href="#iosScreenshots">iOS</a></li>
            <li><a data-toggle="tab" href="#androidScreenshots">Android</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="iosScreenshots">
            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img class="hackwinds_landing_screenshots" src="/static/Images/Screenshots/hackwinds-ios-live.png" alt="Live Screenshot">
                    <div class="caption">
                        <h3>Live Streaming Camera</h3>
                        <p>View the HD stream straight from Narragansett Beach wherever you are.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img class="hackwinds_landing_screenshots" src="/static/Images/Screenshots/hackwinds-ios-forecast.png" alt="Forecast Screenshot">
                    <div class="caption">
                        <h3>5 Day Forecast</h3>
                        <p>Get the latest forecast information for the upcoming 5 days.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img class="hackwinds_landing_screenshots" src="/static/Images/Screenshots/hackwinds-ios-chart.png" alt="Detail Forecast Screenshot">
                    <div class="caption">
                        <h3>Animated Forecast Charts</h3>
                        <p>View animated swell, wind, and period forecast charts for each of the upcoming five days.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img class="hackwinds_landing_screenshots" src="/static/Images/Screenshots/hackwinds-ios-buoy.png" alt="Buoy Screenshot">
                    <div class="caption">
                        <h3>Live Buoy Data</h3>
                        <p>Get the latest NOAA buoy reports, showing the current swell in the water.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img class="hackwinds_landing_screenshots" src="/static/Images/Screenshots/hackwinds-ios-tide.png" alt="Tide Screenshot">
                    <div class="caption">
                        <h3>Tide Information</h3>
                        <p>View the upcoming tides, as well as the sunrise and sunset for the day so you can plan whether to dawn patrol or leave work early.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="androidScreenshots">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img class="hackwinds_landing_screenshots" src="/static/Images/Screenshots/hackwinds-android-live.png" alt="Live Screenshot">
                    <div class="caption">
                        <h3>Live Streaming Camera</h3>
                        <p>View the HD stream straight from Narragansett Beach wherever you are.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img class="hackwinds_landing_screenshots" src="/static/Images/Screenshots/hackwinds-android-forecast.png" alt="Forecast Screenshot">
                    <div class="caption">
                        <h3>5 Day Forecast</h3>
                        <p>Get the latest forecast information for the upcoming 5 days.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img class="hackwinds_landing_screenshots" src="/static/Images/Screenshots/hackwinds-android-buoy.png" alt="Buoy Screenshot">
                    <div class="caption">
                        <h3>Live Buoy Data</h3>
                        <p>Get the latest NOAA buoy reports, showing the current swell in the water.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img class="hackwinds_landing_screenshots" src="/static/Images/Screenshots/hackwinds-android-tide.png" alt="Tide Screenshot">
                    <div class="caption">
                        <h3>Tide Information</h3>
                        <p>View the upcoming tides, as well as the sunrise and sunset for the day so you can plan whether to dawn patrol or leave work early.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Github -->
<div class="row">
    <div class="col-lg-12 text-center jumbotron">
        <div class="container">
            <h1 id="githubHeader">Open Source</h1>
            <p>Both the Android and iOS versions of the app are totally open sourced! Hack away and add any features you want to see in the app, and I'll be happy to add them in. Or simply help development by reporting bugs or possible new features.</p>
            <a href="https://github.com/mpiannucci/HackWinds-iOS" class="btn btn-info hackwinds-github-button">View the iOS Source</a>
            <a href="https://github.com/mpiannucci/HackWinds-Android" class="btn btn-info hackwinds-github-button">View the Android Source</a>
        </div>
    </div>
</div>
<!-- /.row -->
