<div id="projectContainer">
	<div id="projectTitle">
		<h1>Projects</h1>
	</div>
	<hr>
	<div is="project1">
		<h2>URI ASV</h2>
		<p>The Ocean Engineering Department at the University of Rhode Island competes in an Autonomous Surface Vehicle competition every year. A set list of tasks is given for a robotic boat to complete completely on its own. This is my first year contributing. My role on the team has become navigation configurating with <em>Python</em> and embedded micro-processor development with <em>C++</em>. This has allowed me to refine and bring my object oriented programming skills to a real world arena.</p>
	</div>
	<div id="project2">
		<h2>SimpleSolver</h2>
		<p>As an engineering student, it has frustrated me that were no quadratic equation solving applications with an elegant user interface. I strived to create a simple, but useful app with a user interface that matched these characteristics. Thus, SimpleSolver for Android was born. This application is now available on Google Play for free.</p>
		<center>
			<!-- This is the Google Play button -->
			<a href="https://play.google.com/store/apps/details?id=com.nucc.buildingblocks">
  				<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
  			</a>
  		</center>
	</div>
	<div id="project3">
		<h2>Other</h2>
		<p>To view many of my smaller projects and meddlings of mine, feel free to fork me or add me on github.</p>
		<center>
			<!-- This is the github button -->
			<iframe src="http://ghbtns.com/github-btn.html?user=rhodysurf&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
		</center>
	</div>
</div>