$def with (post)

<div id="viewContainer" class="postDisp">
	<h1>$post.title</h1>
	<h3>$datestr(post.posted_on)</h3>
	<div id="viewContent">
		$:post.content 
	</div>
	<br/>
	<div id="links" class="links">
		<table class="linkTable">
			<tr>
				<td><a href="/view/$post.id">Link</a></td>
				<td>$post.likes &nbsp; <a href="/like/$post.id">Like</a></td>
				<td>$post.dislikes &nbsp; <a href="/dislike/$post.id">Dislike</a></td>
				<td>Tagged &nbsp; <a href="/tag/$post.tag"></a>$post.tag</td>
			</tr>
		</table>
	</div>
	<br/>
	<div id="viewLinks" class="links">
		<a href="/blog">Back</a>
	</div>
</div>