/*****************************************************************************
 General Styles 
 ****************************************************************************/

body {
    background-color:#ffffff;
    font-family:"Helvetica";
}

h1 {
    font-family:"Helvetica";
}

h2 {
    font-family:"Helvetica";
}

/* Link settings */
h2 a:link {
    text-decoration:none;
} 

h2 a:hover {
    background-color:#33B5E5;
    cursor:pointer;
}

code {
    background-color:#0039d1;
    color:#ffffff;
}

pre {
    background-color:#0039d1;
    color:#ffffff;
    padding:2%;
    white-space: pre-wrap;
}

/*****************************************************************************
 Header settings 
 ****************************************************************************/
#header {
    background:#33B5E5;
    font-size:170%;
    padding-left:0%;
    height:5%;
}

#header a:hover {
    background-color:#33B5E5;
    cursor:pointer;
}

#header a:link {
    color: #ffffff;
    text-decoration: none;
}

#header a:active {
    color: #ffffff;
}

#header a:visited {
    color: #ffffff;
}

#mainHeader {
    background-color: #33B5E5;
}


/*****************************************************************************
 Footer settings 
 ****************************************************************************/
#footer {
    background:#ffffff;
    font-size:65%;
    padding:0px;
}

#copyright h3 {
    padding:0px;
}

#siteinfo p {
    font-size:100%;
    padding:0px;
}

/*****************************************************************************
 NavBar container settings
 ****************************************************************************/ 
#navBar {
    background-color: #33B5E5;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%
}

#navBar table {
    border:0;
    width:100%;
}

.navHeader a:hover {
    color: #0039d1 !important;
    background-color:#33B5E5;
    cursor:pointer;
}

.navHeader a:link {
    color: #ffffff;
    text-decoration: none;
}

.navHeader a:active {
    color: #0039d1 !important;
}

.navHeader a:visited {
    color: #ffffff;
}

.topicHeader a:hover {
    color: #ffffff !important;
    background-color:#33B5E5;
    cursor:pointer;
}

.topicHeader a:link {
    color: #0039d1;
    text-decoration: none;
}

.topicHeader a:active {
    color: #ffffff !important;
}

.topicHeader a:visited {
    color: #0039d1;
}

/*****************************************************************************
 Column container settings 
 ****************************************************************************/ 
.mainColumn {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 1%;
    width: 100%;
}

/*****************************************************************************
 Home page settings 
 ****************************************************************************/
#welcomeFoot {
    text-align: right;
}

#homeImage {
    width: 100%;
}

/* Blog page settings */
.postDisp h3 {
    font-size:100%;
    font-style: italic;
}

.links a:link {
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}

.links a:hover {
    color:#ffffff;
    background-color:#33B5E5;
    font-weight: bold;
}

.links a:active {
    color:#000000;
    font-weight: bold;
}

.links a:visited {
    color:#000000;
    font-weight: bold;
}

.linkTable {
    border:0;
    width:100%;
}

.navTable {
    border:0;
}

/*****************************************************************************
 Apps page settings 
 ****************************************************************************/
.android_screenshots {
    width:23%;
}

.ios_screenshots {
    width: 23%;
}

/*****************************************************************************
 Admin page settings 
 ****************************************************************************/
#failedlogin {
    font-color:"red";
}

/*****************************************************************************
 Archive page settigns 
 ****************************************************************************/
#archiveTime {
    font-weight:normal;
}

/*****************************************************************************
 Bio Page settings 
 ****************************************************************************/
#contactLinks h3 {
    display: inline;
    padding-right: 15px;
}

#bioPhoto {
    float: right;
    width: 40%;
}

#bioPic {
    width: 100%;
}

/* End Screen Layout */